[submodule "exos/ex1-html-css-hardrick-polier-zerbib"]
	path = exos/ex1-html-css-hardrick-polier-zerbib
	url = https://github.com/tweb-classroom/ex1-html-css-hardrick-polier-zerbib
[submodule "slides"]
	path = slides
	url = git@github.com:tweb-classroom/slides.git
[submodule "exos/ex2-javascript-functions-hardrick-polier-zerbib"]
	path = exos/ex2-javascript-functions-hardrick-polier-zerbib
	url = git@github.com:tweb-classroom/ex2-javascript-functions-hardrick-polier-zerbib.git
[submodule "exos/ex3-object-oriented-javascript-hardrick-polier-zerbib"]
	path = exos/ex3-object-oriented-javascript-hardrick-polier-zerbib
	url = git@github.com:tweb-classroom/ex3-object-oriented-javascript-hardrick-polier-zerbib.git
[submodule "exos/ex4-handling-events-hardrick-polier-zerbib"]
	path = exos/ex4-handling-events-hardrick-polier-zerbib
	url = git@github.com:tweb-classroom/ex4-handling-events-hardrick-polier-zerbib.git
[submodule "exos/ex5-express-form-validation-hardrick-polier-zerbib"]
	path = exos/ex5-express-form-validation-hardrick-polier-zerbib
	url = git@github.com:tweb-classroom/ex5-express-form-validation-hardrick-polier-zerbib.git
